.DayPicker-Day--odd:not(.DayPicker-Day--outside) {
  background-color: #d6e685;
  color: white;
}

.DayPicker-Day--even:not(.DayPicker-Day--outside) {
  background-color: #8cc665;
  color: white;
}

.DayPicker-Day--first:not(.DayPicker-Day--outside) {
  background-color: #44a340;
  color: white;
}
.DayPicker-Day--full:not(.DayPicker-Day--outside) {
  background-color: #d50000;
  color: white;
}
.DayPicker-Day--avil1:not(.DayPicker-Day--outside) {
  background-color: #66BB6A;
  color: white;
}
.DayPicker-Day--avil2:not(.DayPicker-Day--outside) {
  background-color: #43A047;
  color: white;
}
.DayPicker-Day--avil3:not(.DayPicker-Day--outside) {
  background-color: #1B5E20;
  color: white;
}
.DayPicker-Day--executed:not(.DayPicker-Day--outside) {
  background-color: #9E9E9E;
  color: white;
}